<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cpsdb.declareserv.dao.DeclarerCodeDetailMapper">
    <resultMap type="com.cpsdb.declareserv.entity.DeclarerCodeDetail" id="declarerCodeDetailMap">
        <id column="id" property="id"/>
        <result column="fk_declarer_id" property="fkDeclarerId"/>
        <result column="longitude" property="longitude"/>
        <result column="latitude" property="latitude"/>
        <result column="area_code" property="areaCode"/>
        <result column="address" property="address"/>
        <result column="create_time" property="createTime"/>
        <result column="modify_time" property="modifyTime"/>
        <result column="version" property="version"/>
    </resultMap>

    <insert id="insert" parameterType="com.cpsdb.declareserv.entity.DeclarerCodeDetail" useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO
    declarer_code_detail
        (fk_declarer_id,longitude,latitude,area_code,address,create_time,modify_time)
        VALUES
        (#{fkDeclarerId},#{longitude},#{latitude},#{areaCode},#{address},#{createTime},#{modifyTime})
    </insert>

    <update id="update" parameterType="com.cpsdb.declareserv.entity.DeclarerCodeDetail">
        UPDATE
    declarer_code_detail
        SET 
            fk_declarer_id=#{fkDeclarerId},
            longitude=#{longitude},
            latitude=#{latitude},
            area_code=#{areaCode},
            address=#{address},
            create_time=#{createTime},
            modify_time=#{modifyTime}
        	,version = version + 1
        WHERE
    id=#{id}
        	And version = #{version}
    </update>

    <select id="getById" parameterType="Long" resultMap="declarerCodeDetailMap">
        SELECT
        *
        FROM
    declarer_code_detail
        WHERE
    id=#{id}
    </select>

    <select id="getDetailsByDeclarerId" parameterType="Long" resultMap="declarerCodeDetailMap">
    	SELECT
    		*
    	FROM
    		declarer_code_detail
    	WHERE
    		fk_declarer_id=#{id}
    </select>
</mapper>